* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.medium-text {
    font-size: 20px;
}
.blue-btn {
    background-color: #3a94af;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 5px 25px;
    border-radius: 15px;
}
.blue-btn:hover {
    background-color: #6bc0da;
}
.blue-btn:active {
    background-color: #325a66;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
header {
    border-bottom: 2px black solid;
    margin-bottom: 10px;
}
.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}
.auth-form-container .auth-form-bottom {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.auth-form fieldset div {
    margin-top: 7px;
    margin-bottom: 7px;
}

.categories-list .category-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.category-info-left {
    font-size: 24px;
    display: flex;
    align-items: baseline;
}
.category-info-left * {
    margin-left: 10px;
}
.category-info-left h3 {
    margin-bottom: 10px;
}
.category-info-left h3 a {color: black;}
.category-info-left h3:hover {
    text-decoration: underline;
}
.expand-list-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}
.category-colorbox {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.expand-list-icon:hover {
    background-color: rgb(167, 167, 167);
}
.expand-list-icon img {
    width: 30px;
    height: 30px;
}
.category-form input {
    margin-bottom: 10px;
}


.visualisation-options {
    display: flex;
    justify-content: right;
    margin: 20px 0;
}

.visualisation-options div {
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s, background-color 0.2s;
    border-radius: 8px;
}

.visualisation-options div:hover {
    background-color: #f0f0f0; 
    transform: scale(1.1);
}
.visualisation-options .choosen {
    background-color: #adaaaa; 
}
.visualisation-options img {
    display: block;
    margin: 0 auto;
}

.exp-list-wrapper,
.exp-pie-wrapper,
.exp-bar-wrapper {
    display: none;
}

.visible {

    display: block;
}
.expenditures-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.expenditures-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.expenditures-item.total {
    font-weight: bold;
    background-color: #f7f7f7;
}

canvas {
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
