{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            {% if user.is_authenticated %}
                <h2>Hello {{ user.username }}!</h2>
                <a class="medium-text" href="{% url 'logout' %}">Sign out</a>
            {% else %}
                <h2>Incognito mode</h2>
                <a class="medium-text" href="{% url 'login' %}">Sign in</a>
            {% endif %}
        </div>
    </header>
    <main class="wrapper">
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>