{% extends "categories/base.html" %}

{% block title %}{% if update %}Update{% else %}Add{% endif %} category{% endblock %}

{% block content %}
    <form action="" method="post" class="category-form">
        {% csrf_token %}
        {{ form }}

        <button type="submit" class="blue-btn">{% if update %}Update{% else %}Add{% endif %}</button>
    </form>

    {% if error_message %}
        <p>Error : {{ error_message }}</p>
    {% endif %}
{% endblock %}

{% block script %}
    {% if not update %}
        <script>// In case if user adds new category, he could be lazy to pick color, so code generate random one
            var colorInput = document.querySelector('#id_color');
            
            colorInput.value = '#'+(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0');
        </script>
    {% endif %}
{% endblock %}